body, input, button, select {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

ul {
	list-style: none;
	margin: 0;
}

.App {
	padding: 2rem 0;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: center;
}
h1 {
	font-size: calc(10px + 4vmin);
	display: flex;
	align-items: initial;
}
h1 svg {
	margin-right: 0.5rem;
}
form,
.displayed-info {
	width: clamp(50%, 500px, 90%);
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
}
form > label {
	display: flex;
	align-items: center;
	padding: 0.5rem 0.2rem;
	justify-content: space-between;
	text-align: left;
}
form > label input,
form > label select {
	min-width: 50%;
	margin-left: auto;
	padding: 0.3rem;
	border: 2px solid #61dafb;
}
form fieldset,
form section {
	margin: 1rem 0;
}

fieldset {
	display: flex;
	flex-direction: column;
}
fieldset legend {
	color: #61dafb;
	font-weight: 600;
}
fieldset > * {
	margin: 0.3rem 0;
}

fieldset input,
section input {
	margin-right: 1rem;
}

form button {
	margin: 1rem auto;
	padding: 0.5rem 2rem;
	font-size: inherit;
	text-transform: uppercase;
	background-color: #61dafb;
	border: none;
}
form button:hover {
	background-color: #fafafa;
}

.displayed-info {
	align-items: stretch;
	background-color: #fafafa;
	padding: 1rem;
	color: #282c34;
}
.displayed-info > * {
	margin: 0.3rem 0;
	display: flex;
	justify-content: space-between;
}
.displayed-info > * > span:first-of-type {
	text-decoration: underline;
	text-decoration-thickness: 5px;
	text-decoration-color: #61dafb;
}


